#callouts {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-right: 1px dashed #cccccc;
        display: block;
        float: left;
        margin: 0;
        padding: 20px;
        width: 279px;

        &.last {
            border-right: none;
        }

        img {
            float: right;
        }
    }
}

.page_about {
    img {
        float: left;
    }

    p {
        float: left;
        margin-left: 20px;
        width: 666px;
    }
}

.page_testimonials {
    p {
        border-bottom: 1px solid #dddddd;
        color: #888888;
        font-size: 14px;
        margin: 0;
        padding: 20px 0;
        width: 920px;

        .author {
            color: #888888;
            font-weight: 700;
        }
    }
}

.page_contact {
    ul {
        list-style: none;
        margin: 20px 50px;
        padding: 0;
        width: 500px;
    }

    li {
        margin: 0 0 10px;

        * {
            clear: both;
            float: left;
        }
    }

    #button {
        float: right;
    }

    label.error {
        color: #cc0000;
        margin: 4px 0;
    }
}
