{
    "extends": "airbnb-base/legacy",
    "rules": {
        "indent": ["error", 4],
        "wrap-iife": ["error", "inside"],
        "one-var": ["error", "always"],
        "linebreak-style": ["warn", "windows"]
    }
}
