<% title = "Page Not Found" %>

<% include _header %>

<div id="main" role="main">
    <div id="content_container" class="clearfix">
        <h1>500 Inernal Server Error</h1>
        <p style="text-align:center;">Something broke.</p>
    </div><!-- end of #content_container -->
    <div class="clearfix"></div>
</div><!-- end of #main -->

<% include _footer %>
