        <footer>
            <div class="navigation">
                <p style="margin:15px 0 0 0"><a href="http://www.linkedin.com/pub/rob-s/13/1bb/4a6" target="_blank"><img src="/images/icon_linkedin.png" height="32" width="32" /></a>
                    <a href="https://www.facebook.com/outdoorenterprises" target="_blank"><img src="/images/icon_facebook.png" height="32" width="32" /></a></p>
            </div>
            <div class="contact_info">
                <p>&copy;<%= new Date().getFullYear() %> Outdoor Enterprises, Inc.</p>
            </div>
        </footer>
    </div><!-- end of #container -->

    <script src="/js/site.min.js"></script>
</body>
</html>
