        <footer>
            <div class="navigation">
                <!--<p><a href="about">about</a> |
                    <a href="plantings">plantings</a> |
                    <a href="patios-and-decks">patios &amp; decks</a> |
                    <a href="retaining-walls">retaining walls</a> |
                    <a href="community-projects">community projects</a> |
                    <a href="special-projects">special projects</a>
                </p>-->
                <p><a href="mailto:outdoorenterprises@charter.net">outdoorenterprises@charter.net</a></p>
                <p style="margin:15px 0 0 0"><a href="http://www.linkedin.com/pub/rob-s/13/1bb/4a6" target="_blank"><img src="/images/icon_linkedin.png" height="32" width="32" /></a>
                    <a href="https://www.facebook.com/outdoorenterprises" target="_blank"><img src="/images/icon_facebook.png" height="32" width="32" /></a></p>
            </div>
            <div class="contact_info">
                <p>&copy;<%= new Date().getFullYear() %> Outdoor Enterprises, Inc.</p>
                <p>7111 Forest Street<br />
                    Schofield, WI 54476<br />
                    (715) 359-2697</p>
            </div>
        </footer>
    </div><!-- end of #container -->

    <!-- start scripts -->
    <script src="/js/site.min.js"></script>
    <!-- end scripts -->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31444187-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
