        <footer>
            <div class="navigation">
                <!--<p><a href="about">about</a> |
                    <a href="plantings">plantings</a> |
                    <a href="patios-and-decks">patios &amp; decks</a> |
                    <a href="retaining-walls">retaining walls</a> |
                    <a href="community-projects">community projects</a> |
                    <a href="special-projects">special projects</a>
                </p>-->
                <p><a href="mailto:outdoorenterprises@charter.net">outdoorenterprises@charter.net</a></p>
                <p style="margin:15px 0 0 0"><a href="http://www.linkedin.com/pub/rob-s/13/1bb/4a6" target="_blank"><img src="img/icon_linkedin.png" height="32" width="32" /></a>
                    <a href="https://www.facebook.com/outdoorenterprises" target="_blank"><img src="img/icon_facebook.png" height="32" width="32" /></a></p>
            </div>
            <div class="contact_info">
                <p>&copy;<?php echo date('Y') ?> Outdoor Enterprises, Inc.</p>
                <p>7111 Forest Street<br />
                    Schofield, WI 54476<br />
                    (715) 359-2697</p>
            </div>
        </footer>
    </div><!-- end of #container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

    <!-- start scripts -->
    <script defer src="js/libs/slides.min.jquery.js"></script>
    <script defer src="js/plugins.js"></script>
    <script defer src="js/script.js"></script>

    <script src="js/libs/prototype.js"></script>
    <script src="js/libs/scriptaculous.js?load=effects,builder"></script>
    <script src="js/libs/lightbox.js"></script>
    <script src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <!-- end scripts -->

    <script> // Google Analytics
    </script>
</body>
</html>
