<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %> | Outdoor Enterprises Inc.</title>
    <meta name="keywords" content="outdoor, enterprises, landscaping, wausau, wisconsin, robert schulz, quality, satisfaction, landscape design, mulch, shrub, perennial, plantings, patio, retaining wall" />
    <meta name="description" content="The primary focus of Outdoor Enterprises Inc. includes landscape design and installation. We have extensive expertise in plantings, patios, and retaining walls. Our landscape designs are created mainly by Outdoor Enterprises, but we will work with other designs as well. As owner of the business I have committed to being present during the installation. The scope of our work also includes spring and fall cleanups, mulching, and shrub and perennial care." />
    <meta name="google-site-verification" content="0fzJ-llQoGREcW-9wbnM_cDHMRzbxOTWdMEmpTi9vt8" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- begin CSS-->
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    <!-- end CSS-->
</head>

<body>
    <div id="container">
        <header>
            <a href="/"><img id="logo" src="img/logo_outdoor_enterprises.png" width="283" height="100" alt="Outdoor Enterprises, Inc." /></a>
            <a href="contact" id="button" class="btn175">get a free estimate</a>
            <ul id="menu">
                <li><a href="about">about</a></li>
                <li><a href="plantings">plantings</a></li>
                <li><a href="patios-and-decks">patios &amp; decks</a></li>
                <li><a href="retaining-walls">retaining walls</a></li>
                <li><a href="community-projects">community projects</a></li>
                <li><a href="special-projects">special projects</a></li>
            </ul>
        </header>
