<div id="testimonial">
	<a href="testimonials" id="button" class="btn125">read more &gt;</a>
	<p>"Thank you for everything Rob. We thoroughly enjoyed working with you and your crew."<br><span class="author">~ Margie</span></p>
</div>
<div class="clearfix"></div>