<div id="testimonial">
	<a href="testimonials" id="button" class="btn125">read more &gt;</a>
	<p>"<%= testimonial.quote %>"<br /><span class="author">~ <%= testimonial.author %></span></p>
</div>
<div class="clearfix"></div>