<% title = "About" %>

<% include _header %>

<div id="main" role="main">
    <div id="content_container" class="clearfix page_about">
        <img src="img/wausau_map.jpg" height="250" width="234" alt="Wausau Area" />
        <p>Outdoor Enterprises Inc. originated in Milwaukee in 1972, primarily as a landscape maintenance business with me, Rob Schulz, as owner. In 1983 we relocated the business to the Wausau area. Currently our team consists of four seasoned landscape technicians with a goal of providing quality workmanship and customer satisfaction.</p>
        <p>The primary focus of Outdoor Enterprises Inc. includes landscape design and installation. We have extensive expertise in <a href="plantings">plantings</a>, <a href="patios-and-decks">patios</a>, and <a href="retaining-walls">retaining walls</a>. Our landscape designs are created mainly by Outdoor Enterprises Inc., but we will work with other designs as well. As owner of the business I have committed to being present during the installation. The scope of our work also includes spring and fall cleanups, mulching, and shrub and perennial care.</p>
        <p>In the 25 years of doing business in the Wausau area we have completed numerous original projects, resulting in very satisfied customers. We not only work in the Wausau area, but also cities within 100 miles of Wausau.</p>
    </div><!-- end of #content_container -->
    <div class="clearfix"></div>
    <% include _testimonial %>
</div><!-- end of #main -->

<% include _footer %>
