<% title = "About" %>

<% include _header %>

<div id="main" role="main">
    <div id="content_container" class="clearfix page_contact">
        <p>Contact Outdoor Enterprises, Inc. at (715) 359-2697 to schedule your free estimate today!</p>
    </div>
    <div class="clearfix"></div>
    <% include _testimonial %>
</div><!-- end of #main -->

<% include _footer %>
