<% title = "About" %>

<% include _header %>

<div id="main" role="main">
    <div id="content_container" class="clearfix page_contact">
        <form id="commentForm" method="post" action="contact">
            <p>Use this form to contact Outdoor Enterprises, Inc. for a free estimate.</p>
            <ul>
                <li class="clearfix">
                    <label for="name">Name (required):</label>
                    <input type="text" name="name" class="textbox required" value="">
                </li>
                <li class="clearfix">
                    <label for="phone">Phone (required):</label>
                    <input type="text" name="phone" class="textbox required" value="">
                </li>
                <li class="clearfix">
                    <label for="address">Address:</label>
                    <input type="text" name="address" class="textbox" value="">
                </li>
                <li class="clearfix">
                    <label for="city">City:</label>
                    <input type="text" name="city" class="textbox" value="">
                </li>
                <li class="clearfix">
                    <label for="information">Comments/Questions (required):</label>
                    <textarea name="information" class="textarea required" minlength="10"></textarea>
                </li>
                <li class="clearfix">
                    <input type="submit" id="button" class="submit btn125" value="submit">
                </li>
            </ul>
        </form>
    </div>
    <div class="clearfix"></div>
    <% include _testimonial %>
</div><!-- end of #main -->

<% include _footer %>
