<% title = "Home" %>

<% include _header %>

<ul id="slides" class="slides_container main_slide">
    <li>
        <div id="slide_image" style="background:url(img/gallery/35685065-88ff-ff55-c360-2b623ca00347.jpg) center;">
            <div class="overlay">
                <h2>Plantings</h2>
                <p>Our plant material is purchased from only Wisconsin suppliers. There is always care given to the use of quality soils and amendments for prolonged plant life.</p>
            </div>
        </div>
    </li>
    <li>
        <div id="slide_image" style="background:url(img/gallery/800fe6c3-94cc-2e8f-c83d-50e2f4fd6b9b.jpg) center;">
            <div class="overlay">
                <h2>Patios &amp; Decks</h2>
                <p>We install most types of patios to include brick, combined multi-sized pavers both tumbled and non tumbled, and many varieties of natural stone. We use only the finest edging and follow the strictest guidelines for the base preparation and installation of the paving surface.</p>
            </div>
        </div>
    </li>
    <li>
        <div id="slide_image" style="background:url(img/gallery/77a315b2-02f8-cd88-26fd-8b9d41670de8.jpg) center;">
            <div class="overlay">
                <h2>Retaining Walls</h2>
                <p>We install retaining walls using many manufacturers segmental block units, as well as natural stone. These walls must follow guidelines for installation, especially as they become taller. How they are backfilled, and what they are backfilled with are also important factors in their longevity. There are many ways to accomplish holding back soil, along with being beautiful at the same time.</p>
            </div>
        </div>
    </li>
    <li>
        <div id="slide_image" style="background:url(img/gallery/d2610bd4-a6e0-ac5a-6576-0a7642f889e5.jpg) center;">
            <div class="overlay">
                <h2>Community Projects</h2>
                <p>In 2009 we designed and completed the Mosinee Veterans Park in addition we have also designed and completed the first two phases on the Rothschild Veterans Memorial over the past three years. A third phase of this memorial will be installed in the near future. We have also been involved in several other commercial projects in our past 29 years in buisiness in the Wausau area.</p>
            </div>
        </div>
    </li>
    <li>
        <div id="slide_image" style="background:url(img/gallery/9e3ac00c-584e-e061-79c8-45132664c3d7.jpg) center;">
            <div class="overlay">
                <h2>Special Projects</h2>
                <p>Outdoor Enterprises Inc. is always excited to work with you on original special projects.</p>
            </div>
        </div>
    </li>
</ul>
<div class="clearfix"></div>

<div id="main" role="main">
    <ul id="callouts">
        <li>
            <h1>Free Estimates</h1>
            <img src="img/callout_free_estimates.jpg" width="100" height="100" alt="Free Estimates" />
            <p>We offer free estimates and invite you to set up an appointment today!<br /><a href="contact">find out more &gt;</a></p>
        </li>
        <li>
            <h1>Serving Central WI</h1>
            <img src="img/callout_wausau_map.jpg" width="94" height="100" alt="Serving Central WI" />
            <p>We have not only worked in the Wausau area since 1983, but also cities within 100 miles of Wausau.<br /><a href="about">find out more &gt;</a></p>
        </li>
        <li class="last">
            <h1>A Range of Service</h1>
            <img src="img/callout_projects.jpg" width="100" height="100" alt="A Range of Service" />
            <p>We are capable of any range of project. Look through our photos from throughout the years.</p>
        </li>
    </ul>
    <div class="clearfix"></div>
    <% include _testimonial %>
</div><!-- end of #main -->

<% include _footer %>
